= gmaps4rails(@map_data)
.property-row
  .infobox
    %h3 Property <br/>Information
    .arrow-box
      %i.icon-chevron-sign-right
  .search
    %input.span3.home{:placeholder => "Enter your location", :type => "text"}/
  .value
    = image_tag 'scout-icon.png', {:class => 'property-icon pull-left'}
    .number
      = number_with_delimiter(@properties.count)
    .title Available to Scout
  .value
    = image_tag 'building-icon.png', {:class => 'property-icon pull-left'}
    .number
      = number_with_delimiter(@rescues)
    - if 1 == @rescues
      .title Property Rescued
    - else
      .title Properties Rescued
  .value
    = image_tag 'money-icon.png', {:class => 'property-icon pull-left'}
    .number
      = number_to_currency(@prop_value, :precision => 0)
    .title Property Value
.social-row
  &nbsp;





-#// Application
  .row-fluid.clear-margin
    .span4.property-infobox
      %h3 Property <br/>Information
      .arrow-box
        %i.icon-chevron-sign-right
    .span9.debug
      .row-fluid
        .span3
          Enter your location
        .span3
          = image_tag 'scout-icon.png', {:class => 'property-icon'}
          Available to Scout
        .span3
          = image_tag 'building-icon.png', {:class => 'property-icon'}
          Properties Rescued
        .span3
          = image_tag 'money-icon.png', {:class => 'property-icon'}
          Property Value