.container
  .row
    .span6
      -#= image_tag 'http://25.media.tumblr.com/tumblr_m66xhfpafY1rutx6lo1_500.jpg'
      = image_tag "http://photos.county.allegheny.pa.us/iasworld/iDoc2/Services/GetPhoto.ashx?parid=#{@property.parcel_id}&jur=002"
    .span6
      %h1= @property.parcel_id
      %em= @property.tax_category
      %h3= @property.address
      %h4= @property.owner
      - if @property.vacant?
        %em Vacant
      - else
        %em Occupied
      %h3== Land: #{number_to_currency(@property.land_value)}
      %h3== Building: #{number_to_currency(@property.building_value)}
      %h3== Total: #{number_to_currency(@property.value)}
      %h3== Taxes: #{number_to_currency(@property.taxes)}
      %em== #{@property.lot_area} sq. feet
      %center= link_to 'Rescue', rescue_property_path(@property), :class => 'btn btn-large'
