.navbar.navbar-inverse{:style => "position: static;"}
  .navbar-inner
    .container
      = link_to(image_tag('logo.png', :class => "brand active", :alt => "logo"), root_path)
      %ul.nav
        %li
          - if @game_mode
            = link_to 'Game: ON', "", :id => "gametime"
          - else
            = link_to 'Game: Off', "", :id => "gametime"
        %li
          = link_to impact_path do
            %i.icon-lightbulb
        %li
          = link_to about_path do
            %i.icon-info     

