%li.field
  = suggestion.description
  %em= suggestion.category
  .offset1
    == #{suggestion.likes.positives.count} Likes
    == #{suggestion.likes.negatives.count} Dislikes
    %br
    - suggestion.likes.each do |like|
      - comment = like.comment.empty? ? '***' : like.comment
      - if like.positive?
        %div{:style => 'color:green'}= comment
      - else
        %div{:style => 'color:red'}= comment
  = form_tag like_suggestion_path(:id => suggestion.id, :property_id => property.id), :method => :put do
    = label_tag :comment
    = text_area_tag :comment, nil, :size => '60x4', :placeholder => 'Comment'
    = submit_tag 'Like'
    = submit_tag 'Dislike'
