.span12
  %h1= suggestion.title.to_s + " [" + suggestion.category + "]"
  %h4= suggestion.description
.span4
  .todo.mrm
    .todo-search
      == #{pluralize(suggestion.likes.positives.count, 'Person')} AGREED
    %ul
      %li.todo-done{:style => 'background:#3fdcbd;'}
        .todo-content
          %h4.todo-name
            - suggestion.likes.each do |like|
              - comment = like.comment.empty? ? 'YES!!!' : like.comment
              - if like.positive?
                %div{:class => 'item'}= comment
.span4
  .todo.mrm
    .todo-search{:style => 'background:#e74c3c;'}
      == #{pluralize(suggestion.likes.negatives.count, 'Person')} DISAGREED
    %ul
      %li.todo-done{:style => 'background:#f57163;'}
        .todo-content
          %h4.todo-name
            - suggestion.likes.each do |like|
              - comment = like.comment.empty? ? 'NO!!!' : like.comment
              - if !like.positive?
                %div{:class => 'item'}= comment

.span12
  .well
    = form_tag like_suggestion_path(:id => suggestion.id, :property_id => property.id), :method => :put do
      = render :partial => 'shared/error_messages', :locals => { :errors => suggestion.errors, :name => 'Suggestion' }
      = text_area_tag :comment, nil, :size => '60x4', :placeholder => 'What do you think?', :class => 'enlarge!'
      %br
      .span2{:style => 'margin-left:0!important;'}
        = submit_tag 'Agree', :class => 'btn btn-primary', :style => 'width:100% !important; margin-left:0!important;'
      .span2
        = submit_tag 'Disagree', :class => 'btn btn-danger', :style => 'width:100% !important;'
