.field
  = f.text_field :title, :maxlength => Suggestion::TITLE_LEN, :placeholder => "Name your idea"

.field
  %br
  = f.select :category, options_for_select(Suggestion::CATEGORIES, Suggestion::DEFAULT_CATEGORY), {}, {:style => "width: 100%;"}
.field
  = f.text_area :description, :size => '60x5', :width => '40%', :placeholder => 'More Detail (optional)'

.field
  = f.hidden_field :user_identifier, :value => request.remote_ip
  = f.hidden_field :property_id, :value => @property.id